<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>报错页面</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body{
            padding:0;
            margin: 0;
        }
        .container1{
            margin-left: 40%;
            margin-top: 100px;
        }
    </style>
</head>

<body>


    <div class="container1">
    <h1>404</h1>
    <p>这个页面还在施工中呢...</p>
    <p><a class="btn btn-primary btn-middle" href="index" role="button">返回首页</a></p>
    </div>




<script src="js/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>