<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>服务器出错了呢~</title>
    <link rel="stylesheet" th:href="@{/error/css/style.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<style>


</style>
<body>


<div class="container">
    <div class="row  justify-content-center">

        <div class="col-md-9  text-center">
            <button type="button" style="margin-top: 480px" class="btn btn-lg btn-success" disabled="disabled">服务器出错了呢~点击图片返回首页</button>

        </div>
        <a href="/index" id="svgContainer"></a>
    </div>

</div>




<script th:src='@{/error/js/eEjVBX.js}'></script>
<script th:src='@{/error/js/MvBBBj.js}'></script>
<script th:src="@{/error/js/script.js}"></script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>