@charset "utf-8";

/*
更多精品代码请访问 http://www.bootstrapmb.com/
*/

*{padding:0;margin:0;font-family:"微软雅黑"}
*{padding:0;margin:0;font-family:"微软雅黑"}
ol,ul{list-style:none}
a{text-decoration:none;color:red}
img{border:0}
.side{position:fixed;width:55px;right:0;top:50%;margin-top:0px;z-index:100;border:1px solid #e0e0e0;background:#fff;border-bottom:0}
.side ul li{width:55px;height:55px;float:left;position:relative;border-bottom:1px solid #e0e0e0;color:#333;font-size:7px;line-height:12px;text-align:center;transition:all .3s;cursor:pointer}
.side ul li:hover{background:#D9BF77;color:#fff}
.side ul li:hover a{color:#fff}
.side ul li i{height:25px;margin-bottom:1px;display:block;overflow:hidden;background-repeat:no-repeat;background-position:center center;background-size:auto 25px;margin-top:14px;transition:all .3s}
.side ul li i.bgs1{background-image:url(/images/side/right_pic5.png)}
.side ul li i.bgs2{background-image:url(/images/side/right_pic7.png)}
.side ul li i.bgs3{background-image:url(/images/side/right_pic2.png)}

.side ul li i.bgs5{background-image:url(/images/side/right_pic3.png)}
.side ul li i.bgs6{background-image:url(/images/side/right_pic6_on.png)}
.side ul li:hover i.bgs1{background-image:url(/images/side/right_pic5_on.png)}
.side ul li:hover i.bgs2{background-image:url(/images/side/right_pic7_on.png)}
.side ul li:hover i.bgs3{background-image:url(/images/side/right_pic2_on.png)}

.side ul li:hover i.bgs5{background-image:url(/images/side/right_pic3_on.png)}
.side ul li .sidebox{position:absolute;width:78px;height:78px;top:0;right:0;transition:all .3s;overflow:hidden}
.side ul li.sidetop{background:#D9BF77;color:#fff}
.side ul li.sidetop:hover{opacity:.8;filter:Alpha(opacity=80)}

.side ul li:hover .son{display:block!important;animation:fadein 1s}
@keyframes fadein{from{opacity:0}
to{opacity:1}
}
